<h2><%= office.new_record? ? "New" : "Update" %> Office</h2>
  <div class="add-crud-edit-errors error-wrapper"></div>
  <div id = "error-edit-inner-div" >
  </div>
  <% action = office.persisted? ?  'update': 'create'%>
<%= form_for office, url: {action: action}, authenticity_token: true,remote:true, html: {style: "padding: 10px;"} do |form| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <label><%= form.label :name%></label>
      <%= form.text_field :name, class: "form-control" %>
    </div>  
  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
    <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Cancel</button>
  </div>
<% end %>