  <tr>
    <td><%= office.id %></td>
    <td><%= office.name %></td>
    <td><%= link_to "Locations (#{office.locations.count})", office_locations_path(office) %></td>
    <td><%= link_to 'Edit', edit_office_path(office) %></td>
    <td><%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>