<% if @office.errors.any?%>
	<%= render partial: "shared/error", locals: {obj: @office} %>
<% else %>
	<%= render partial: "shared/success", locals: {obj: "Office created successfully"} %>
	$('#tr-append').append("<%= escape_javascript(render partial: 'table_row', locals: {office: @office} ) %>")
<% end %>

// hideLoader();