<p id="notice"><%= notice %></p>

<h1>Offices</h1>
<%#= link_to 'New Office', new_office_path %>
<a href="#" data-id="" data-url="<%= new_office_path(format: :js) %>" class="btn btn-success dynamic-modal-trigger" data-toggle="modal" data-target="#dynamic-modal"><b> New Office </b></a>
<br/>
<br/>
<% if  !@offices.blank? %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody id="tr-append">
      <% @offices.each do |office| %>
        <%= render partial: 'table_row', locals: {office: office} %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <em>No office(s) found.</em>
  </p>
<% end %>
<br>

