$(".add-crud-edit-errors").empty();
$('<div>', {
    id: 'error_explanation_edit'
}).append($('<div>', {
    id: 'error-edit-inner-div',
    class: "alert alert-success"
})).appendTo('.add-crud-edit-errors');
var list = $("#error-edit-inner-div").append('<ul></ul>').find('ul');
list.append("<li><%= obj %></li>");

setTimeout(function () {
    $('#error-edit-inner-div').fadeOut(300, function(){ $(this).empty();});
    //$(".error-edit-inner-div").empty()
}, 1500);
setTimeout(function () {
    $(".close-modal").click();
    $('#modal-content').html("")
}, 1000);