<div class="seach-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<%= hidden_field_tag "latitude" %>
					<%= hidden_field_tag "longitude" %>
					<label> Postcode </label>
					<%= text_field_tag "postcode", @postcode, class: "form-control", style: "text-align: center;"%>
				</div>
				<div class="form-group">
					<label> Radius </label>					
					<div class="text-center">
						<span id="distance"></span> miles <br/>
						<%= text_field_tag "radius", nil, data:{"slider-id"=>"radiusSlider", "slider-value" => "5", "slider-min" => "0.1", "slider-max"=>"50"}, class: "form-control"%>
					</div>
				</div>
			</div>
		</div>
</div>