 <%= render partial: 'search_form' %>
<br/>
<div class="box-body">
  <table id="locations_list" class="table table-bordered table-striped display responsive nowrap" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th>Office</th>
      <th>Address</th>
       <th>Distance (miles)</th>      
    </tr>
    </thead>
    <tbody>

    </tbody>

  </table>
</div>

<% content_for :page_level_script do %>
    <script type="text/javascript">
    	 // location_list_table.draw();
    </script>
<% end %>