<h2><%= location.new_record? ? "New" : "Update" %> Office</h2>
  <div class="add-crud-edit-errors error-wrapper"></div>
  <div id = "error-edit-inner-div" >
  </div>
  <% action = location.persisted? ?  'update': 'create'%>
<%= form_for location, url: {action: action}, authenticity_token: true,remote:true, html: {style: "padding: 10px;"} do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <label><%= form.label :address_line_1%></label>
      <%= form.text_field :address_line_1, class: "form-control" %>
    </div>
    <div class="form-group">
      <label><%= form.label :address_line_2%></label>
      <%= form.text_field :address_line_2, class: "form-control" %>
    </div>
    <div class="form-group">
      <label><%= form.label :city%></label>
      <%= form.text_field :city, class: "form-control" %>
    </div>     
    <div class="form-group">
      <label><%= form.label :town%></label>
      <%= form.text_field :town, class: "form-control" %>
    </div> 
    <div class="form-group">
      <label><%= form.label :postcode%></label>
      <%= form.text_field :postcode, class: "form-control" %>
    </div>                     
  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
    <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Cancel</button>
  </div>
<% end %>
