  <tr>
    <td><%= location.id %></td>
    <td><%= location.full_address %></td>
    <td><%= link_to 'Edit', edit_office_location_path(@office, location) %></td>
    <td><%= link_to 'Destroy', office_location_path(@office, location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>