<% if @location.errors.any?%>
	<%= render partial: "shared/error", locals: {obj: @location} %>
<% else %>
	<%= render partial: "shared/success", locals: {obj: "Office created successfully"} %>
	$('#tr-append').append("<%= escape_javascript(render partial: 'table_row', locals: {office: @office, location: @location} ) %>")
<% end %>

// hideLoader();