<h1>Editing Location</h1>

<%= render 'form', location: @location, office: @office %>

<%= link_to 'Show', office_location_path(@office, @location) %> |
<%= link_to 'Back', office_locations_path(@office) %>
