<p id="notice"><%= notice %></p>

<h1><%= @office.name.to_s.titleize%> Office Locations </h1>
<a href="#" data-id="" data-url="<%= new_office_location_path(@office, format: :js) %>" class="btn btn-success dynamic-modal-trigger" data-toggle="modal" data-target="#dynamic-modal"><b> Add Location </b></a>
<br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Address</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody id="tr-append">
    <% @locations.each do |location| %>
      <%= render partial: 'table_row', locals: {location: location, office: @office} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Office Lists', offices_path(@office) %>
