$('#modal-content').html("<%= escape_javascript render 'form', office: @office, location: @location %>")
$( "form" ).submit(function( ) {
    $('.add-crud-edit-errors').html(pleaseWait());
});
ajaxSubmit();