<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Office Locator</title>    
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track': 'reload' %>  
   
  </head>

  <body>
  	<%= render 'shared/nav_bar'%>
  	<div class="container">
    	<%= yield %>
		</div>
    
    <div id="dynamic-modal"  class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    <!--       <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->
          <div id="modal-content" class="modal-body"  style="overflow:hidden;">

          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>      		
  </body>
</html>
